@font-face {
  font-family: "Monosten-Regular";
  src: url("../fonts/MonostenRegular.otf?1443935296");
  src: url("../fonts/MonostenRegular.otf?&1443935296#iefix") format("embedded-opentype"), url("../fonts/MonostenRegular.woff2?1538030684") format("woff2"); }

@font-face {
  font-family: "Monosten-RegularStencil";
  src: url("../fonts/MonostenStencil.otf?1443935288");
  src: url("../fonts/MonostenStencil.otf?&1443935288#iefix") format("embedded-opentype"), url("../fonts/MonostenStencil.woff2?1538030690") format("woff2"); }

@font-face {
  font-family: "Monosten-Light";
  src: url("../fonts/MonostenLight.otf?1443935264");
  src: url("../fonts/MonostenLight.otf?&1443935264#iefix") format("embedded-opentype"), url("../fonts/MonostenLight.woff2?1538031588") format("woff2"); }

@font-face {
  font-family: "Monosten-LightStencil";
  src: url("../fonts/MonostenLightStencil.otf?1443935256");
  src: url("../fonts/MonostenLightStencil.otf?&1443935256#iefix") format("embedded-opentype"), url("../fonts/MonostenLightStencil.woff2?1538031592") format("woff2"); }


h1{
    font-family: "Monosten-LightStencil";
    font-size: 11vh;
    color: $white;
    font-weight: 100;
    @media screen and (min-device-width: 175px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 4em;
      text-shadow: 0px 0px 20px $blue;
  }
}


h3 {
    font-size: 1.2em;
    @media screen and (max-device-width: 420px) {
        font-size: 1.4em;
    }
}

h5 {
    font-family: "Monosten-LightStencil";
    font-size: 14vh;
    color: $white;
    font-weight: 100;
}

h6 {
    font-size: 2vw;
    @media screen and (max-device-width: 420px) {
        font-size: 1.4em;
    }
}

p {
    font-weight: 100;
    font-size: 0.98em;
    line-height: 1.65em;
    @media screen and (max-device-width: 420px) {
        font-size: 1em;
        line-height: 1.35em;
        margin-bottom: 150px;
    }
}

a{
  text-decoration: none;
  font-size: 0.98em;
}