/* Logo
------------------------- */

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    z-index: 9000;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    z-index: 500;
    animation-name: animationLogo;
    animation-duration: 18s;
    pointer-events: none;
    @media screen and (max-device-width: 420px) {
        width: 40%;
    }
}

@keyframes animationLogo {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}


.logo-wrap {
    width: 100%;
    position: relative;
}


#logo {
    opacity: 1;
    @media screen and (max-device-width: 420px) {
        display: none;
    }
}

#logoDevice {
    display: none;
    @media screen and (max-device-width: 420px) {
        display: block;
    }
}