
/* Menus
------------------------- */

#menu_container {
    display: block;
    position: fixed;
    height: 94vh;
    width: 94vw;
    left: 3vw;
    top: 3vh;
    z-index: 1000;
    pointer-events: none;
}

.menu {
    opacity: 0;
    color: $blue;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    font-weight: lighter;
}

.OFF_MENU{
    opacity: 0;
}


#menu_top {
    width: 100%;
    pointer-events: visible;
}

#menu_right {
    transform-origin: top left;
    transform: rotate(90deg);
    width: 90vh;
    background-color: rgba(0, 0, 0, 0);
    left: 93vw;
    pointer-events: visible;
}

#menu_bottom {
    pointer-events: visible;

    width: 100%;
    bottom: 0;
}

#menu_left {
    pointer-events: visible;
    transform-origin: top left;
    transform: rotate(-90deg);
    top: 100vh;
    margin: auto;
    width: 110vh;
}


.underLine {
    opacity: 0;
    background-color: $blue;
    position: relative;
    display: block;
    margin: auto;
    width: 0px;
    height: 2px;
    top: -5px;
    @media screen and (max-device-width: 420px) {
        display: none;
    }
}


/* About
------------------------- */

#about_container {

    position: fixed;
    border-radius: 25px;
    top: calc(15vh + 50px);
    left: 10vw;
    width: 80%;
    height: 80vh;
    padding: 0px;
    background-color: #040625;
    z-index: 2000;
    box-shadow: 0px 0px 400px rgba(255, 156, 156, 1);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    opacity: 0;
    pointer-events: none;

    @media screen and (max-device-width: 420px) {
        position: fixed;
        display: block;
        padding-top: 3em;
        width: 90%;
        height: 80vh;
        overflow-y: scroll;
        left: 5%;
    }
}

#about_info {
    width: 70%;
    margin: auto;
    text-align: left;
    color: rgb(255, 156, 156);
    column-count: 2;

    p {
        font-weight: 100;
        font-size: 1em;
        line-height: 19px;
        margin-top: 0;
        @media screen and (max-device-width: 420px) {
            font-size: 1em;
            line-height: 1.35em;
            margin-bottom: 150px;
        }
    }

    @media screen and (max-device-width: 420px) {
        column-count: 1;
        width: 82%;
    }
}

#exit {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9CE5FF;
    z-index: 1200;
}




/* Tools
------------------------- */

#tools {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.tools-infinite_div {
    width: 100%;
    height: auto;
    line-height: 14vh;
    position: relative;
    display: block;
}

.tools-text {
    margin: 0 auto;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
}

.tools-text span {
    font-size: 14vh;
    display: inline-block;
    padding-left: 0%;
    animation: marqueesina_Left 190s linear infinite;
}

@keyframes marqueesina_Left {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-60%, 0);
    }
}

@keyframes marqueesina_Right {
    0% {
        transform: translate(-60%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}